img{
	border: 4px;
	border-color: #6aa84f;
	border-style: solid;
	display: block;
}

table, tr, th, td{
	border-collapse: collapse;
	border: 1px solid;
	text-align: center;
	vertical-align: bottom;
	margin: 60px auto;
}
th{
	vertical-align: top;
}